BasedOnStyle: Microsoft

AlwaysBreakTemplateDeclarations: Yes
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
UseTab: Always
IndentWidth: 4
TabWidth: 4
SpaceBeforeParens: Never

---
Language: Cpp
AccessModifierOffset: -4
IncludeBlocks: Regroup
LineEnding: LF
