name: Linux CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        include:
          - CC: "clang-19"
            CXX: "clang++-19"
            CXX_FLAGS: "-stdlib=libc++" # use libc++ from clang project to avoid clang/gcc interop issue
          - CC: "gcc"
            CXX: "g++"
            CXX_FLAGS: ""

    steps:
    - uses: actions/checkout@v4

    - name: Install Ninja
      run: sudo apt install ninja-build

    - name: Install build tools
      if: ${{ matrix.CC == 'clang-19' }}
      run: wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh 19 && sudo apt install libc++-19-dev

    - name: Build project
      run: |
        cmake -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER=${{ matrix.CC }} \
        -DCMAKE_CXX_COMPILER=${{ matrix.CXX }} \
        -DCMAKE_CXX_FLAGS="${{ matrix.CXX_FLAGS }}" \
        -G "Ninja" \
        -B build
        ninja -C build 

    - name: Run tests
      run: cd build && ctest
